:root {
  --theme-spacing: 10px;
  --product-img-height: 300px;
  --product-tile-padding: var(--theme-spacing);
  --button-height: calc(var(--theme-spacing) * 2 + 13px);
}

@import './ui/index';
@import './partials/color-variants';
@import './partials/image-wrap';
@import './partials/product-tile';
